<!DOCTYPE html>
<html>

<head>

  <title>Haggle</title>
</head>

<body>
  <nav class="navbar navbar-default" style="background-color:#EA9E8D; border:none;">
    <div class="overlay-container">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="title" href="/">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/user/:id" id="navStuff">Profile</a></li>

            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
          </form>


          <ul class="nav navbar-nav navbar-right">
            <li><a id="navStuff" href="/user/new">Sign Up</a></li>
          </ul>
        </div>
  </nav>
  </div>
  </div>

  <br><br>
  <center><img src="/images/logo.png" id="logo"> </center>

  <br><br>
  <form class="searchForm" action="/items/:location_id" method="get">
    <div class="form-group">
      <label class="control-label" id="navLabel" for="inputDefault"> What do you need?</label>
      <center> <input type="text" class="form-control animate" id="inputDefault" placeholder="Search">
    </div>
    </center>

    <center>

      <a href="/items/:location_id" class="btn btn-primary btn-lg" type="submit" id="haggleButton" style="background-color:#BD321F;">
        <div id="haggleText">Get Haggling!</div>
      </a>
    </center>
  </form>

</body>


</html>
